---
import Layout from "../layouts/Layout.astro";
import Formulario from "../components/Formulario.astro";
---

<Layout>
    <h1>Contáctame</h1>
    <p>
        Este formulario envía los datos directamente a un servicio que te los
        manda por email.
    </p>
    <Formulario />
</Layout>
